body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.word-animation {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: top left;
}

.word {
    opacity: 0;
    animation: changeWord 6s infinite;
}

@keyframes changeWord {
    0%, 100% { opacity: 0; }
    20%, 80% { opacity: 1; }
}



.word-animation {
font-size: 24px;
font-weight: bold;
text-transform: uppercase;
text-align: top left;
}

.word {
opacity: 0;
animation: changeWord 6s infinite;
}

@keyframes changeWord {
0%, 100% { opacity: 0; }
20%, 80% { opacity: 1; }
}


body {
    display: flex;
    justify-content: left top;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.word-link {
    text-align: top left;
}

.word{
    font-size: 24px;
    font-weight: bold;
}